<ng-container>
  <main class="form-signin">
    <form data-bitwarden-watching="1">
      <h1 class="h3 mb-3 fw-normal">Please register</h1>
      <hr>
      <div class="form-floating">
        <input type="text" required class="form-control" [(ngModel)]="firstName" [ngModelOptions]="{standalone: true}" id="floatingFirstName" placeholder="First name">
        <label for="floatingFirstName">First name</label>
      </div>
      <hr>
      <div class="form-floating">
        <input type="text" required class="form-control" [(ngModel)]="lastName" [ngModelOptions]="{standalone: true}" id="floatingLastName" placeholder="Last name">
        <label for="floatingLastName">Last name</label>
      </div>
      <hr>
      <div class="form-floating">
        <input type="text" required class="form-control" [(ngModel)]="username" [ngModelOptions]="{standalone: true}" id="floatingUserName" placeholder="Username">
        <label for="floatingUserName">Username</label>
      </div>
      <hr>
      <div class="form-floating">
        <input type="email" required class="form-control" [(ngModel)]="email" [ngModelOptions]="{standalone: true}" id="floatingInput" placeholder="name@example.com">
        <label for="floatingInput">Email</label>
      </div>
      <hr>
      <div class="form-floating">
        <input type="password" required class="form-control" [(ngModel)]="password" [ngModelOptions]="{standalone: true}" id="floatingPassword" placeholder="Password">
        <label for="floatingPassword">Password</label>
      </div>
      <hr>
      <div class="form-floating">
        <input type="password" required class="form-control" [(ngModel)]="rePassword" [ngModelOptions]="{standalone: true}" id="floatingPasswordRe" placeholder="Re - Password">
        <label for="floatingPasswordRe">Re - Password</label>
      </div>
      <hr>
      <p style="color: red;">{{ error }}</p>
      <hr>
      <button class="w-100 btn btn-lg btn-primary top-mrgn-10" (click)="register()" type="submit"></button>
    </form>
  </main>
</ng-container>