<main class="form-signin">
    <form data-bitwarden-watching="1">
      <h1 class="h3 mb-3 fw-normal">Please register</h1>
  
      <div class="form-floating">
        <input type="text" class="form-control" id="floatingFirstName" placeholder="First name">
        <label for="floatingFirstName">First name</label>
      </div>
      <div class="form-floating">
        <input type="text" class="form-control" id="floatingLastName" placeholder="Last name">
        <label for="floatingLastName">Last name</label>
      </div>
      <div class="form-floating">
        <input type="text" class="form-control" id="floatingUserName" placeholder="Username">
        <label for="floatingUserName">Username</label>
      </div>
      <div class="form-floating">
        <input type="email" class="form-control" id="floatingInput" placeholder="name@example.com">
        <label for="floatingInput">Email</label>
      </div>
      <div class="form-floating">
        <input type="password" class="form-control" id="floatingPassword" placeholder="Password">
        <label for="floatingPassword">Password</label>
      </div>
      <div class="form-floating">
        <input type="password" class="form-control" id="floatingPasswordRe" placeholder="Re - Password">
        <label for="floatingPasswordRe">Re - Password</label>
      </div>
  
      <button class="w-100 btn btn-lg btn-primary top-mrgn-10" type="submit">Sign in</button>
    </form>
</main>